#front-header {
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#front-footer{
	background-color: #195591;

}