body
{
  font-size: 8.5pt;
  font-family: Arial, Helvetica, sans-serif, Verdana;
}

ul#root, ul#root ul
{
  list-style: none;
  margin: 0;
}

ul#root ul li
{
  border: none;
  color: #999;
}

ul#root ul li:last-child
{
  border-bottom:1 none;
}

ul#root b
{
  display: block;
  font-size: 11px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

ul#root li ul a
{
  border-bottom: 1px solid #00B9D2;
  color: #025185;
  text-decoration: none;

}

ul#root li ul
{
  padding-left: 10px;
}

a.selected
{
  border : 1px solid #ACBECE;
  background-color:yellow;
}

a.active
{
  border : 1px solid #ACBECE;
  background-color:yellow;
}

a
{
  display: block;
  cursor: pointer;
}